{% extends  'base1.html'%}
{% block title%}
about
{%endblock%}
{% block content%}
<style>
.P{


   
    font-size:medium;
    width: 1200px;
    font-weight: 200;
    font-style: normal;
 }

 }
</STYLE>

<div class="h1"  style="margin-left:20px;">
<h1 >Why Choose Us?</h1></div>
<div class="p"  style="margin-left:20px;">
    <p>Our reputation for outstanding care and family-like atmosphere, together with advanced medical technology and facilities ensures we attract leading consultants and specialists from the industry to work with us. All our clinicians are board-certified and come with very high credentials within their field of speciality. Many of our consultant doctors are internationally recognised as well. Whilst practicing at our facilities, our consultants comply with Clinical Governance system that ensures adequate patient care. All our nurses are fully qualified and registered with the Nursing Council.
        At Sagar Hospitals we are committed to providing our patients with advanced medical and surgical treatments with access to the latest treatment technology available.
        
        Sagar Hospitals is committed to providing high quality, cost-efficient healthcare in its hospitals and clinics. We are able to provide free, no-obligation quotes for a wide range of treatments, consultations and tests to our self-pay patients. We also provide care to insurance patients. For more information on insurance acceptance/ empanelment, please refer to details in the insurance section. We provide care to both patients with insurance and those who wish to pay for their own care. We continuously outperform the industry benchmarks in medical outcomes. Our expert team of doctors and nurses are available to round the clock to monitor the progress of our patients</p>
</div>
<div>
    <h1 class="h1"  style="margin-left:20px;">Our Values</h1>
    <div>
        <div class="p"  style="margin-left:20px;">
            <p> Quality Patient Care – Our focus is to serve our customers to their satisfaction</p>
            <p>Customer Focus – Delivering quality patient care is the core of our activities</p>
            <p>Teamwork – We have a multi disciplinary unified approach in developing healthcare solutions.</p>
            <p>Research Leadership – We continuously seek new ways to demonstrate our leadership role in research.</p>
            <p>Operational Efficiency – We strive for efficient and effective delivery of services</p>
            <p>Teaching Excellence – We seek to uphold the highest standards in training the healthcare professionals.</p>
            <p>Embracing Change – We insist on change to help us succeed in our endeavour</p>
            <p>Research Leadership – We continuously seek new ways to demonstrate our leadership role in research.</p>
        </div>
{%endblock%}
