{% extends  'base1.html'%}
{% block title%}
Contact
{%endblock%}
{% block content%}
<div  class="container  "  style="margin-top:70px;">
<div class="card text-center mx-3  my-3  " style="width: 18rem; display:inline-block;  ">
    <img src="https://img.freepik.com/premium-vector/phone-call-icon-isolated-white-background-telephone-symbol-vector-illustration_548264-469.jpg?w=2000" class="card-img-top" alt="...">
    <div class="card-body">
      <h1 class="card-title"> Phone No</h1>
      <p class="card-text">1234567899</p>
      <h6></h6>
     
    </div>
  </div>
  <div class="card text-center mx-3  my-3 " style="width: 18rem; display:inline-block;  ">
    <img src="https://www.seekpng.com/png/detail/84-841042_email-icon-png-blue-9vzn7mz2-email-icon.png" class="card-img-top" alt="..." style="height:287px;">
    <div class="card-body">
      <h1 class="card-title"> Email</h1>
      <p class="card-text">cityhospital1234@gmail.com</p>
      <h6></h6>
     
    </div>
  </div>
  <div class="card text-center mx-3  my-3 " style="width: 18rem; display:inline-block;  ">
    <img src="https://img.freepik.com/premium-vector/pin-point-icon-with-red-map-location-pointer-symbol-isolated-white-background_120819-234.jpg" class="card-img-top" alt="..." style="height:287px;">
    <div class="card-body">
      <h1 class="card-title"> Location</h1>
      <p class="card-text">Pattambi,Palakkad,Kerala</p>
      <h6></h6>
     
    </div>
  </div>
</div>



{%endblock%}